﻿@model IEnumerable<AcerCMS.Models.Picture>

@if (Model.Any()) // Modelden dönen değer boş değilse null değilse 0 dan buyukse anlamına gelir.
{
    var i = 0;
    var active = "active";
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 400px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
            @foreach (var slider in Model)
            {
                <li data-target="#myCarousel" data-slide-to="@(i++)" class="active"></li>
                active = "";
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @{
    active = "active";

            }
            @foreach (var slider in Model)
            {

                <div class="item @active">
                    <img src="@slider.Path/@slider.FileName" alt="@slider.Description" style="width: 100%; height: 400px;">
                    <p class="text-center"><b>@slider.Title</b></p>
                </div>

                active = "";
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Geri</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">İleri</span>
        </a>
    </div>
}
else
{
    <div class="alert alert-warning">
        Slider'da aktif image bulunamadı.!
    </div>
}